* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #958cac;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;

}

.container {
    height: 498px;
    width: 270px;
    border-radius: 9px;
    padding: 38px;
    background-color: #2A2141;

}

/* imagem */
.imagem img {
    width: 189.66px;
    height: 189.66px;
    border-radius: 6.00185px;
    display: flex;

}

h1 {
    width: 171px;
    height: 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

    margin-top: 25px;
    color: #E1E1E6;

}

p {
    width: 155px;
    height: 19px;

    font-weight: 400;
    font-size: 19px;
    line-height: 100%;

    color: #E1E1E6;
    margin: 4px 0 4px 0;
}

/* player */
.player {
    display: flex;

    width: 189.66px;
    height: 28.81px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 25px;

}

/* Boatao de Back */
.back {
    position: absolute;
    left: 0;
}

/* Botao de play */
.play {
    position: absolute;
}

/* Botao de Next */
.next {
    position: absolute;
    right: 0;
}

/* duracao da musica */
.duracao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

.barra-completa {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    left: 0;


}

.barra {
    width: 200px;
    height: auto;
    left: 0;
    position: absolute;
    opacity: 0.5;
    z-index: 0;
}


/* Tempo */
.tempo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

span {
    font-size: 14px;
}